$black: #0a0a0a;
$darkBlue: #072c4b;
$darkGrey: #1d1d1d;
$lightGreen: #4ebdb6;
$offWhite: #fafafa;
$white: #fff;

:export {
  black: $black;
  darkBlue: $darkBlue;
  darkGrey: $darkGrey;
  lightGreen: $lightGreen;
  offWhite: $offWhite;
  white: $white;
}
