@import './colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
