@import 'styles/colors';

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}
