@import '../../styles/colors';

.header {
  align-items: center;
  background-color: $black;
  display: flex;
  // justify-content: space-between;
  padding: 1.5rem;

  .left,
  .right {
    display: flex;
    flex: 1;
    min-width: -webkit-min-content;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  .nav-section {
    margin: 0 1rem;
    // display: flex;
    // justify-content: center;

    .nav-link {
      color: $white;
      margin: 0 0.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    .selected-nav-link {
      color: $green;
    }
  }
}
