@import '../../styles/colors';

.header {
  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  .nav-section {
    margin: 0 1rem;

    .nav-link {
      color: $white;
      margin: 0 0.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    .selected-nav-link {
      color: $green;
    }
  }
}
