@import 'styles/colors';

.header {
  align-items: center;
  background-color: $black;
  display: flex;
  padding: 2rem;

  .left,
  .right {
    display: flex;
    flex: 1;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }
}
